<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MX - Files</title>
	<link rel="icon" href="crow.ico?" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:type" content="article"/>
	<meta property="og:title" content="Files"/>
	<link rel="feed" type="application/rss+xml" title="Mineral Existence RSS Feed" href="https://mineralexistence.com/feed.xml">

	<!-- the below sections enables syntax highlighting when js is enabled, and reverts to the default when it isn't -->
	<noscript>
		<style>
			pre {
				font-size:calc(0.5rem + 0.25vw);
				line-height:2.3ex;
				overflow-x:auto; 
				padding:2%; 
				color:var(--bg);
				background-color:var(--text); 
			}
		</style>
	</noscript>
	<script src="./assets/prism.js"></script>

	
	<script>
		var link = document.createElement("link");
		link.rel="stylesheet";
		link.href="./assets/prism.css";
		link.type="text/css";
		document.getElementsByTagName("head")[0].appendChild(link);
	</script>

	<style>
/* @import url('reset.css'); */

*, *::before, *::after {box-sizing: border-box;} 
* {margin: 0;} 
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;} 
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;} 
#root, #__next {isolation: isolate;} 

:root {
	/* --text:#3A3738; */
	/* --text:#472d30; */
	--text:#654735;
	/* --bg:#FBF0F0; */
	/* --bg:#ffe1a8; */
	--bg:#fbf1c7;
	/* --hl:#80dec5; */
	/* --hl:#c9cba3; */
	--hl:#45707a;
	--hl-orange:#c35e0a;
}

body {
	font-size:calc(1rem + 0.5vw);
	font-family:Times;
	max-width:80ch;
	padding:1em 7%; 
	margin: 3rem auto 3rem; 
	padding: 0 1rem; 
	line-height:1.6;
	color:var(--text);
	background-color:var(--bg);
}

main > *+* {margin-top: 2ex;}

*:not(footer)>a {color:var(--hl);}
*:not(footer)>a:visited {color:var(--hl-orange);}
*:not(footer)>a[href*=':']::before{content:"↗"}

/* *:not(footer)>a:hover {color:var(--text);background-color:var(--bg);} */

header>h1 {display:inline-block;padding-right:.3em;}
header {border-bottom:1.5px solid;padding:0 0 1em 0;margin: 0 0 1em 0;clear:both;}

mark {background-color:var(--hl);color:var(--bg);}
hr {height:1px;border-width:0;color:var(--text);background-color:var(--text)} 

pre {
	font-size:calc(0.5rem + 0.25vw);
	line-height:2.3ex;
	overflow-x:auto; 
	padding:2%; 
	color:var(--bg); 
	background-color:var(--text); 
}
code {color:var(--bg);background-color:var(--text);font-size:calc(0.8rem + 0.5vw);padding-left: 0.2em;padding-right: 0.2em;} 

dd {margin-left:2em;}
details {padding-bottom:0ex;}
fieldset {border:1px solid;}
::selection {color: var(--bg);background-color: var(--text);}

.half {width: 50%; height: auto;}
.third {width: 31%; height: auto;}
.left {margin-top: 0em;float: left;margin-right: 2em;clear: both;}
.block {margin-top: 1em;margin-left: 0px;clear: both;}
.container {padding: 2ex; border: solid 1px var(--text);border-radius: 5px;}
.row {display: flex;}
.column {flex: 50%;}
.listing > span {float: right;}
.wrapper {
	list-style-type: none;
	padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
  gap: 1em;
  grid-auto-flow: dense;
}
.wrapper li.landscape {grid-column-end: span 2;}


.inline-img {
	height: 33px;
	display: inline-block;
	border: 1px solid var(--text);
	position: relative;
	left: 0.25em;
	top: 0.25ex;
}


footer {border-top:1.5px solid;padding:1em 0 0 0;margin:1em 0 0 0;clear:both}
footer>* {display:inline-block;}
footer img {margin:0 0 -10px 0;width:30px;} 
footer img:not([title*='banner']) {filter:invert(16%)sepia(6%)saturate(445%)hue-rotate(289deg)brightness(88%)contrast(79%);}

	</style>

</head>

<body>
	<header>
		<h1><a href="home.html">Home</a></h1> 
		<h1><a href="now.html">now</a></h1>
		<h1><a href="wiki.html">wiki</a></h1>
		<h1><a href="about.html">about</a></h1>
	</header>

	<main>

<h2>Files</h2>

<p>This is a page to give a full list of files and directories saved on this website.</p>

<ul>
	<li><a href="files/uxn-zine.pdf">uxn-zine.pdf</a></li>
	<li><a href="files/uxn-zine.tar">uxn-zine.tar</a></li>
	<li><a href="files/minecraft.service">minecraft.service</a></li>
	<li><a href="files/thul.html">thul.html</a></li>
	<li><a href="files/starship.toml">starship.toml</a></li>
	<li><a href="files/kexp.mp3.m3u">kexp.mp3.m3u</a></li>
	<li>{{catfile}}"files/get-some-more.txt"</li>
	<li>{{catfile}}"files/monitorswitch.txt"</li>
	<li><a href="files/mtrack.rs">mtrack.rs</a></li>
	<li><a href="files/newsboat-config">newsboat-config</a></li>
	<li>{{catfile}}"files/thul.md"</li>
	<li><a href="files/mx.zip">mx.zip</a></li>
	<li><a href="files/cat-sync">cat-sync</a></li>
	<li><a href="files/mpv.conf">mpv.conf</a></li>
	<li>{{catfile}}"files/per-tab.txt"</li>
	<li><a href="files/sway/config">sway/config</a></li>
	<li><a href="files/sway/config.d/screenlock_powersave">sway/config.d/screenlock_powersave</a></li>
	<li><a href="files/sway/scripts/sway_bar.sh">sway/scripts/sway_bar.sh</a></li>
	<li><a href="files/ecs/components.c">ecs/components.c</a></li>
	<li><a href="files/ecs/main.c">ecs/main.c</a></li>
	<li><a href="files/ecs/manager.h">ecs/manager.h</a></li>
	<li><a href="files/ecs/manager.c">ecs/manager.c</a></li>
	<li><a href="files/ecs/ecs.c">ecs/ecs.c</a></li>
	<li><a href="files/minecraft-mods/indium-1.0.5+mc1.19.jar">minecraft-mods/indium-1.0.5+mc1.19.jar</a></li>
	<li><a href="files/minecraft-mods/fabric-api-0.56.0+1.19.jar">minecraft-mods/fabric-api-0.56.0+1.19.jar</a></li>
	<li><a href="files/minecraft-mods/fpsdisplay-1.5.0+1.19.jar">minecraft-mods/fpsdisplay-1.5.0+1.19.jar</a></li>
	<li><a href="files/minecraft-mods/tweakeroo-fabric-1.19-0.13.3.jar">minecraft-mods/tweakeroo-fabric-1.19-0.13.3.jar</a></li>
	<li><a href="files/minecraft-mods/malilib-fabric-1.19-0.12.1.jar">minecraft-mods/malilib-fabric-1.19-0.12.1.jar</a></li>
	<li><a href="files/minecraft-mods/modmenu-4.0.0.jar">minecraft-mods/modmenu-4.0.0.jar</a></li>
	<li><a href="files/minecraft-mods/fabric-installer-0.11.0.jar">minecraft-mods/fabric-installer-0.11.0.jar</a></li>
	<li><a href="files/minecraft-mods/sodium-fabric-mc1.19-0.4.2build.16.jar">minecraft-mods/sodium-fabric-mc1.19-0.4.2build.16.jar</a></li>
	<li><a href="files/ranger/rifle.conf">ranger/rifle.conf</a></li>
	<li><a href="files/ranger/rc.conf">ranger/rc.conf</a></li>
	<li><a href="files/ranger/scope.sh">ranger/scope.sh</a></li>
	<li><a href="files/vscode/settings.json">vscode/settings.json</a></li>
	<li><a href="files/vscode/keybindings.json">vscode/keybindings.json</a></li>
	<li><a href="files/kitty/kitty.conf.user">kitty/kitty.conf.user</a></li>
	<li><a href="files/kitty/kitty-snazzy.conf">kitty/kitty-snazzy.conf</a></li>
	<li><a href="files/kitty/current-theme.conf">kitty/current-theme.conf</a></li>
	<li><a href="files/kitty/colors.conf">kitty/colors.conf</a></li>
	<li><a href="files/kitty/kitty.conf">kitty/kitty.conf</a></li>
	<li><a href="files/kitty/kitty_defualt.conf">kitty/kitty_defualt.conf</a></li>
	<li><a href="files/kitty/snazzy.conf">kitty/snazzy.conf</a></li>
	<li><a href="files/kitty/unicode-input-favorites.conf">kitty/unicode-input-favorites.conf</a></li>
	<li><a href="files/kitty/kitty-unicode.conf">kitty/kitty-unicode.conf</a></li>
	<li><a href="files/kitty/kitty.conf.bak">kitty/kitty.conf.bak</a></li>
	<li><a href="files/uxn-zine/source.fls">uxn-zine/source.fls</a></li>
	<li><a href="files/uxn-zine/uxn-zine.pdf">uxn-zine/uxn-zine.pdf</a></li>
	<li><a href="files/uxn-zine/uxn-zine.epub">uxn-zine/uxn-zine.epub</a></li>
	<li><a href="files/uxn-zine/source.pdf">uxn-zine/source.pdf</a></li>
	<li><a href="files/uxn-zine/zine.log">uxn-zine/zine.log</a></li>
	<li><a href="files/uxn-zine/__latexindent_temp.tex">uxn-zine/__latexindent_temp.tex</a></li>
	<li><a href="files/uxn-zine/source.synctex">uxn-zine/source.synctex</a></li>
	<li><a href="files/uxn-zine/zine.synctex">uxn-zine/zine.synctex</a></li>
	<li><a href="files/uxn-zine/zine.pdf">uxn-zine/zine.pdf</a></li>
	<li><a href="files/uxn-zine/zine.fdb_latexmk">uxn-zine/zine.fdb_latexmk</a></li>
	<li><a href="files/uxn-zine/zine.aux">uxn-zine/zine.aux</a></li>
	<li><a href="files/uxn-zine/source.log">uxn-zine/source.log</a></li>
	<li><a href="files/uxn-zine/zine.fls">uxn-zine/zine.fls</a></li>
	<li><a href="files/uxn-zine/zine.tex">uxn-zine/zine.tex</a></li>
	<li><a href="files/uxn-zine/source.tex">uxn-zine/source.tex</a></li>
	<li><a href="files/uxn-zine/source.fdb_latexmk">uxn-zine/source.fdb_latexmk</a></li>
	<li><a href="files/uxn-zine/source.aux">uxn-zine/source.aux</a></li>
	<li><a href="files/uxn-zine/images/00_uxn_notes-680.png">uxn-zine/images/00_uxn_notes-680.png</a></li>
	<li><a href="files/uxn-zine/images/08_bit_shifting-680.png">uxn-zine/images/08_bit_shifting-680.png</a></li>
	<li><a href="files/uxn-zine/images/04_stack-680.png">uxn-zine/images/04_stack-680.png</a></li>
	<li><a href="files/uxn-zine/images/11_drawing_sprites-680.png">uxn-zine/images/11_drawing_sprites-680.png</a></li>
	<li><a href="files/uxn-zine/images/05_runes_labels_macros-680.png">uxn-zine/images/05_runes_labels_macros-680.png</a></li>
	<li><a href="files/uxn-zine/images/12_drawing_sprites2-680.png">uxn-zine/images/12_drawing_sprites2-680.png</a></li>
	<li><a href="files/uxn-zine/images/01_binary_encoding-680.png">uxn-zine/images/01_binary_encoding-680.png</a></li>
	<li><a href="files/uxn-zine/images/13_input-680.png">uxn-zine/images/13_input-680.png</a></li>
	<li><a href="files/uxn-zine/images/14_comparison-680.png">uxn-zine/images/14_comparison-680.png</a></li>
	<li><a href="files/uxn-zine/images/02_cpu-680.png">uxn-zine/images/02_cpu-680.png</a></li>
	<li><a href="files/uxn-zine/images/06_instruction_cycle-680.png">uxn-zine/images/06_instruction_cycle-680.png</a></li>
	<li><a href="files/uxn-zine/images/09_sprite_encoding_1bpp-680.png">uxn-zine/images/09_sprite_encoding_1bpp-680.png</a></li>
	<li><a href="files/uxn-zine/images/07_aritmetics-680.png">uxn-zine/images/07_aritmetics-680.png</a></li>
	<li><a href="files/uxn-zine/images/03_memory-680.png">uxn-zine/images/03_memory-680.png</a></li>
	<li><a href="files/uxn-zine/images/10_sprite_encoding_2bpp-680.png">uxn-zine/images/10_sprite_encoding_2bpp-680.png</a></li>
</ul>


		<p><b>Incoming:</b> <a href="uxn_notes.html">uxn_notes</a> <a href="site.html">site</a> </p>
	</main>

	<footer>
		<a href="mailto:benrhammond@gmail.com" target="_blank">
			<img loading="lazy" width="30" height="30" src="images/mail.svg" alt="Mailto" />
		</a>
		<a rel="me" href="https://merveilles.town/@flbr" target="_blank">
			<img loading="lazy" width="30" height="30" src="images/merveilles.svg" alt="Merveilles" />
		</a>
		<a href='https://webring.xxiivv.com/#icons' target='_blank'>
			<img loading="lazy" width="30" height="30" class="webring" src="images/webring-icon-black.svg" alt="the merveilles webring" />
		</a>
		<a href="https://wiki.xxiivv.com/site/ethics.html">
			<img loading="lazy" width="30" height="30" src="images/dreipfeile-icon.svg" alt="Ethics" />
		</a>
		<a href="feed.xml">
			<img loading="lazy" width="30" height="30" src="images/rss.svg" alt="RSS Feed" />
		</a>
		<img loading="lazy" style="width:88px;height:31px;margin-left:0.5ex;" title="my homemade site banner!" alt="site banner"
			src="images/icon.gif" />
		<span style="float: right;"><em>Last updated: 021523</em></span>
	</footer>
</body>
</html>
